.wrap {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

table {
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

tr {
  &:nth-child(odd) {
    background: $gray-300;
  }

  &:nth-child(even) {
    background: $gray-100;
  }
}

th {
  text-transform: capitalize;
  background: $gray;
  color: white;
  padding: 10px 20px;
}

th,
td {
  width: 11.5%;
  border: 1px solid $white;
  padding: 10px 20px;

  &:first-child {
    text-align: left;
    width: 30%;
  }
}

form {
  margin-left: auto;

  label {
    text-transform: capitalize;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    &:hover input ~ span {
      background-color: $gray-300;
    }

    input:checked ~ span {
      background-color: $gray;

      &:after {
        display: block;
      }
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    background-color: $gray-100;

    &:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);

      content: "";
      position: absolute;
      display: none;
    }
  }
}
